{% set title_page = "Index" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "particles/head.html" %}
</head>
<body>

    <div class="site">
        <div class="ds-parent">
            <div class="ds-container">
                {% include "particles/sections/main.html" %}
                {% include "particles/sections/what-doing.html" %}
                {% include "particles/sections/who-we.html" %}
                {% include "particles/sections/footer.html" %}
            </div>
        </div>
    </div>
    
    {% include "particles/script.html" %}
</body>
</html>