{% set title_page = "Services" %}
{% set footer_active = "active non-shadow" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "particles/head.html" %}
</head>
<body>

    <div class="site">
        <section class="section active section-heigth--auto">
            <section class="section-services">
                {% include "particles/top-line.html" %}
                
                <div class="container">
                    <div class="header-block">
                        <h1>Судебные споры</h1>
                        <p>Laoreet bibendum faucibus neque et. Est tortor urna imperdiet penatibus interdum. Vestibulum suspendisse dui lorem molestie nulla. Ultricies tellus eu quam ut. Dolor a purus porta magna aliquet tortor. Platea faucibus vitae eu, leo. Sem sed eros magna urna. Dui congue suspendisse scelerisque nam sapien. Aliquet pellentesque non ipsum orci diam.</p>
                    </div>

                    <div class="filter-cases">
                        <div class="filter-cases--content">
                            <div class="show-case">
                                {% 
                                    set cases = [
                                        {
                                            date: 2021,
                                            type: 'Банкротство',
                                            name: 'ООО “Петя и леденцы”',
                                            description: 'Принимая во внимание показатели успешности, курс на национальный проект обеспечивает актуальность требований.',
                                            class: 'empty',
                                        },
                                        {
                                            date: 2020,
                                            type: 'Возврат активов',
                                            name: 'Candy Bank',
                                            description: 'Принимая во внимание показатели asdfsdfsd fsd fsdf sd fd fsdfsdfsdfsdf sdfs df успешности, курс на национальный проект обеспечивает актуальность требований.',
                                            class: 'empty',
                                        },
                                        {
                                            date: 2019,
                                            type: 'Представительство в суде',
                                            name: 'ОАО “Норильский карамельный завод”',
                                            description: 'Принимая во внимание показатели успешности, курс на национальный проект обеспечивает актуальность требований.',
                                            class: 'empty',
                                        },
                                        {
                                            date: 2021,
                                            type: 'Банкротство',
                                            name: 'ООО “Петя и леденцы”',
                                            description: 'Принимая во внимание показатели успешности, курс на национальный проект обеспечивает актуальность требований.',
                                            class: 'empty',
                                        },
                                        {
                                            date: 2020,
                                            type: 'Возврат активов',
                                            name: 'Candy Bank',
                                            description: 'Принимая во внимание показатели asdfsdfsd fsd fsdf sd fd fsdfsdfsdfsdf sdfs df успешности, курс на национальный проект обеспечивает актуальность требований.',
                                            class: 'empty',
                                        },
                                        {
                                            date: 2019,
                                            type: 'Представительство в суде',
                                            name: 'ОАО “Норильский карамельный завод”',
                                            description: 'Принимая во внимание показатели успешности, курс на национальный проект обеспечивает актуальность требований.',
                                            class: 'empty',
                                        }
                                    ] 
                                %}
                
                                {% for case  in cases  %}
                                    <div class="show-case__col">
                                        {% include "particles/preview_case.html" with case %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                </div>

                

            </section>
        </section>
        {% include "particles/sections/other_case.html" %}
        {% include "particles/sections/footer.html" %}
    </div>
    
    {% include "particles/script.html" %}
</body>
</html>